.container-fluid.well
  .col-md-1
    = render partial: "shared/voting", locals: {votes: comment.votes}
  .col-md-11
    = render partial: "shared/creation_info", locals: {object: comment}
    - from_reply_form ||= nil
    - unless from_reply_form
      = link_to 'reply', post_new_comment_path(@post, comment)
    %blockquote= comment.text
